/* Footer Styling */
#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #E2F1E7; 
    color: #508C9B; 
    font-size: 1rem;
    font-weight: 800;
    text-align: center;
    gap: 10px;
  }
  
  #footer p, #footer .anchor {
    margin: 5px 0;
  }
  
  .anchor {
    color: #FD8B51; 
    text-decoration: none;
    transition: color 0.3s ease;
    font-weight: 800;
  }
  
  .anchor:hover {
    color: #CB6040; 
  }
  
  .end p {
    margin: 5px 0; 
  }
  